astroid==3.2.3
    # via pylint
attrs==23.2.0
    # via hypothesis
black==24.4.2
    # via fixbackup (pyproject.toml)
boto3==1.34.144
    # via fixbackup (pyproject.toml)
botocore==1.34.144
    # via
    #   boto3
    #   s3transfer
cachetools==5.4.0
    # via tox
chardet==5.2.0
    # via tox
click==8.1.7
    # via black
colorama==0.4.6
    # via tox
coverage[toml]==7.6.0
    # via
    #   fixbackup (pyproject.toml)
    #   pytest-cov
dill==0.3.8
    # via pylint
distlib==0.3.8
    # via virtualenv
filelock==3.15.4
    # via
    #   tox
    #   virtualenv
flake8==7.1.0
    # via
    #   fixbackup (pyproject.toml)
    #   pep8-naming
hypothesis==6.108.2
    # via fixbackup (pyproject.toml)
iniconfig==2.0.0
    # via pytest
isort==5.13.2
    # via pylint
jmespath==1.0.1
    # via
    #   boto3
    #   botocore
mccabe==0.7.0
    # via
    #   flake8
    #   pylint
mypy==1.10.1
    # via fixbackup (pyproject.toml)
mypy-extensions==1.0.0
    # via
    #   black
    #   mypy
packaging==24.1
    # via
    #   black
    #   pyproject-api
    #   pytest
    #   tox
pathspec==0.12.1
    # via black
pep8-naming==0.14.1
    # via fixbackup (pyproject.toml)
platformdirs==4.2.2
    # via
    #   black
    #   pylint
    #   tox
    #   virtualenv
pluggy==1.5.0
    # via
    #   pytest
    #   tox
pycodestyle==2.12.0
    # via flake8
pyflakes==3.2.0
    # via flake8
pylint==3.2.5
    # via fixbackup (pyproject.toml)
pyproject-api==1.7.1
    # via tox
pytest==8.2.2
    # via
    #   fixbackup (pyproject.toml)
    #   pytest-asyncio
    #   pytest-cov
pytest-asyncio==0.23.7
    # via fixbackup (pyproject.toml)
pytest-cov==5.0.0
    # via fixbackup (pyproject.toml)
pytest-runner==6.0.1
    # via fixbackup (pyproject.toml)
python-dateutil==2.9.0.post0
    # via botocore
s3transfer==0.10.2
    # via boto3
six==1.16.0
    # via python-dateutil
sortedcontainers==2.4.0
    # via hypothesis
tomlkit==0.13.0
    # via pylint
tox==4.16.0
    # via fixbackup (pyproject.toml)
typing-extensions==4.12.2
    # via mypy
urllib3==2.2.2
    # via botocore
virtualenv==20.26.3
    # via tox
wheel==0.43.0
    # via fixbackup (pyproject.toml)
